
       <br><br>
        <nav>   
            <ul>                            
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/employeeList" class="nav-link">Get Employee List</a></li> 
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/employeeSearch" class="nav-link">Search Employee</a></li>          
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/addEmployee" class="nav-link">Add Or Update Employee</a></li>      
            <li><a *ngIf="authenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">LogOut</a></li>            
            </ul>
        </nav>



