
   td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 15px;
  }
  th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: left;
    padding: 15px;
  }

  table {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 5px;
  }
